<div class="max-w-[1920px] mx-auto w-full px-10 flex flex-col h-24 justify-center-center">
    <div class="w-full text-lg mx-auto lg:flex gap-3 h-20 items-center">
        <div class="flex items-center h-6 lg:my-0 my-4">
            <h1><a href="">Kids</a></h1>
        </div>
        <div class="flex xl:mx-auto ml-auto sm:items-center">
            <ul class="flex gap-8 ">
                <li class="text-nowrap">Shoe</li>
                <li class="text-nowrap">Clothing</li>
                <li class="text-nowrap">New Arrivals</li>
                <li class="text-nowrap">Gear & Accesories</li>
                <li class="text-nowrap">Mini Me</li>
                <li class="text-nowrap">Sale</li>
            </ul>
        </div>
    </div>
</div>

<div class="max-w-[1920px] mx-auto w-full lg:px-10 px-5 flex flex-col justify-center">
    <div>
        <img src="../../images/women/bigImgLG.png" class="hidden sm:block" alt="">
        <img src="../../images/women/bigImgSM.png" class="block sm:hidden w-full" alt="">
    </div>
    <div class="sm:mx-auto max-w-7xl flex flex-col gap-4 py-8">
        <h1 class="sm:mx-auto font-medium">Nike Indy Bra</h1>
        <h1 class="sm:mx-auto text-5xl lg:text-7xl font-black tracking-[-2px] oswald">FEEL SCULPTED</h1>
        <h1 class="sm:mx-auto">Light, medium or high support fo every move, for every body.</h1>
        <div class="sm:mx-auto">
            <button class=" bg-black rounded-full px-[17px] py-[6px] flex mt-2 hover:bg-gray-500">
                <h1 class=" text-white">Shop</h1>
            </button>
        </div>
    </div>
</div>

<div class="max-w-[1920px] mx-auto md:px-12 px-6 mt-12 flex items-center justify-between py-4">
    <h1 class="text-2xl">Shop the Essentials</h1>
    <div class="flex gap-5">
        <button class="bg-gray-50 w-12 h-12 rounded-full flex items-center justify-center">
            <img src="../../images/home/nextleft.png" class="w-3">
        </button>
        <button class="bg-gray-100 w-12 h-12 rounded-full flex items-center justify-center">
            <img src="../../images/home/nextright.png" class="w-3">
        </button>
    </div>
</div>
<div class="max-w-[1920px] mx-auto flex gap-6 mb-6 overflow-x-scroll md:px-12 px-6">
    <div class="w-full">
        <div class="sm:w-[500px] w-[400px] xl:w-[600px]">
            <a href=""><img class="w-full" src="../../images/home/trending1.jpg" alt=""></a>
            <h1 class="text-lg my-3 mb-9">Clothing</h1>
        </div>
    </div>
    <div class="w-full">
        <div class="sm:w-[500px] w-[400px] xl:w-[600px]">
            <a href=""><img class="w-full" src="../../images/home/trending2.jpg" alt=""></a>
            <h1 class="text-lg my-3 mb-9">Shoes</h1>
        </div>
    </div>
    <div class="w-full">
        <div class="sm:w-[500px] w-[400px] xl:w-[600px]">
            <a href=""><img class="w-full" src="../../images/home/trending3.jpg" alt=""></a>
            <h1 class="text-lg my-3 mb-9">Accessories</h1>
        </div>
    </div>
    <div class="w-full">
        <div class="sm:w-[500px] w-[400px] xl:w-[600px]">
            <a href=""><img class="w-full" src="../../images/home/trending4.jpg" alt=""></a>
            <h1 class="text-lg my-3 mb-9">Bras & Leggings</h1>
        </div>
    </div>
</div>
<div class="">
    <div class="max-w-[1920px] flex flex-col mx-auto text-white md:px-12 px-6 sm:flex-row">
        <!-- picture1 -->
        <div class="relative w-full md:block hidden">
            <a class=""><img class="w-full h-full object-cover " src="../../images/women/womenLG.png" alt=""></a>
            <div class="absolute left-11 bottom-11">
                <h1>Just In</h1>
                <h1 class="text-lg mt-1 tracking-wide">Air Max DN</h1>
                <button class="bg-white py-1.5 px-5 rounded-full mt-8 text-black font-medium">Shop</button>
            </div>
        </div>
        <div class="relative w-full md:hidden block">
            <a class=""><img class="w-full h-full object-cover " src="../../images/women/womenSM.png" alt=""></a>
            <div class="absolute left-11 bottom-11">
                <h1>Just In</h1>
                <h1 class="text-lg mt-1 tracking-wide">Air Max DN</h1>
                <button class="bg-white py-1.5 px-5 rounded-full mt-8 text-black font-medium">Shop</button>
            </div>
        </div>

        <!-- picture2 -->
        <div class="relative w-full md:block hidden">
            <a class=""><img class="w-full h-full" src="../../images/home/f-women-lg.png" alt=""></a>
            <div class="absolute left-11 bottom-11">
                <h1>Make Your Move</h1>
                <h1 class="text-lg mt-1 tracking-wide">New Fitness Essential</h1>
                <button class="bg-white py-1.5 px-5 rounded-full mt-8 text-black font-medium">Shop</button>
            </div>
        </div>
        <div class="relative w-full md:hidden block">
            <a class=""><img class="w-full h-full" src="../../images/women/girlsSM.png" alt=""></a>
            <div class="absolute left-11 bottom-11">
                <h1>Make Your Move</h1>
                <h1 class="text-lg mt-1 tracking-wide">New Fitness Essentials</h1>
                <button class="bg-white py-1.5 px-5 rounded-full mt-8 text-black font-medium">Shop</button>
            </div>
        </div>
    </div>
</div>
<div class="max-w-[1920px] mx-auto flex gap-6 mb-6 overflow-x-scroll lg:px-14 px-6">
    <div class="w-full">
        <div class="w-[320px] 2xl:w-[500px]">
            <a href=""><img class="w-full" src="../../images/women/classicSpotlight-1.png" alt=""></a>
        </div>
    </div>
    <div class="w-full">
        <div class="w-[320px] 2xl:w-[500px]">
            <a href=""><img class="w-full" src="../../images/women/classicSpotlight-1.png" alt=""></a>
        </div>
    </div>
    <div class="w-full">
        <div class="w-[320px] 2xl:w-[500px]">
            <a href=""><img class="w-full" src="../../images/women/classicSpotlight-1.png" alt=""></a>
        </div>
    </div>
    <div class="w-full">
        <div class="w-[320px] 2xl:w-[500px]">
            <a href=""><img class="w-full" src="../../images/women/classicSpotlight-1.png" alt=""></a>
        </div>
    </div>
    <div class="w-full">
        <div class="w-[320px] 2xl:w-[500px]">
            <a href=""><img class="w-full" src="../../images/women/classicSpotlight-1.png" alt=""></a>
        </div>
    </div>
</div>