<div class="p-6 2xl:px-0 w-full max-w-screen-2xl mx-auto">
  <!-- screen phone lg -->
  <div class="block lg:hidden">
    <div>
      <button
        class="btn1 w-full flex justify-between items-center py-4 text-xl cursor-pointer"
      >
        <h2 class="sodan">About Us</h2>
        <span class="w-4 imgArrow duration-300">
          <img class="" src="../../images/layout/down-arrow.png" alt="" />
        </span>
      </button>
      <div
        class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
      >
        <ul
          class="flex flex-col gap-3 my-4 manrope-sans text-gray-500 font-thin"
        >
          <li>
            <a href="">Our Company</a>
          </li>
          <li>
            <a href="">Our Coffee</a>
          </li>
          <li>
            <a href="">Stories and News</a>
          </li>
          <li>
            <a href="">Starbucks Archive</a>
          </li>
          <li>
            <a href="">Investor Relations</a>
          </li>
          <li>
            <a href="">Customer Service</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div
        class="btn1 flex justify-between items-center py-4 text-xl cursor-pointer"
      >
        <h2 class="sodan">Careers</h2>
        <div class="w-4 imgArrow duration-300">
          <img class="" src="../../images/layout/down-arrow.png" alt="" />
        </div>
      </div>
      <div
        class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
      >
        <ul
          class="flex flex-col gap-3 my-4 manrope-sans text-gray-500 font-thin"
        >
          <li>
            <a href="">Culture and Values</a>
          </li>
          <li>
            <a href="">Inclusion, Diversity, and Equity</a>
          </li>
          <li>
            <a href="">College Achievement Plan</a>
          </li>
          <li>
            <a href="">Alumni Community</a>
          </li>
          <li>
            <a href="">U.S. Careers</a>
          </li>
          <li>
            <a href="">International Careers</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div
        class="btn1 flex justify-between items-center py-4 text-xl cursor-pointer"
      >
        <h2 class="sodan">Social Impact</h2>
        <div class="w-4 imgArrow duration-300">
          <img class="" src="../../images/layout/down-arrow.png" alt="" />
        </div>
      </div>
      <div
        class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
      >
        <ul
          class="flex flex-col gap-3 my-4 manrope-sans text-gray-500 font-thin"
        >
          <li>
            <a href="">People</a>
          </li>
          <li>
            <a href="">Planet</a>
          </li>
          <li>
            <a href="">Environmental and Social Impact Reporting</a>
          </li>
          <li>
            <a href="">For Business Partners</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div
        class="btn1 flex justify-between items-center py-4 text-xl cursor-pointer"
      >
        <h2 class="sodan">For Business Partners</h2>
        <div class="w-4 imgArrow duration-300">
          <img class="" src="../../images/layout/down-arrow.png" alt="" />
        </div>
      </div>
      <div
        class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
      >
        <ul
          class="flex flex-col gap-3 my-4 manrope-sans text-gray-500 font-thin"
        >
          <li>
            <a href="">Landlord Support Center</a>
          </li>
          <li>
            <a href="">Suppliers</a>
          </li>
          <li>
            <a href="">Corporate Gift Card Sales</a>
          </li>
          <li>
            <a href="">Office and Foodservice Coffee</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div
        class="btn1 flex justify-between items-center py-4 text-xl cursor-pointer"
      >
        <h2 class="sodan">Order and Pick Up</h2>
        <div class="w-4 imgArrow duration-300">
          <img class="" src="../../images/layout/down-arrow.png" alt="" />
        </div>
      </div>
      <div
        class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
      >
        <ul
          class="flex flex-col gap-3 my-4 manrope-sans text-gray-500 font-thin"
        >
          <li>
            <a href="">Order on the App</a>
          </li>
          <li>
            <a href="">Order on the Web</a>
          </li>
          <li>
            <a href="">Delivery</a>
          </li>
          <li>
            <a href="">Order and Pick Up Options</a>
          </li>
          <li>
            <a href="">Explore and Find Coffee for Home</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- screen greater than lg -->
  <div class="hidden lg:flex justify-start">
    <div class="">
      <h2 class="sodan text-xl">About Us</h2>
      <ul class="flex w-48 flex-col gap-3 my-4 manrope-sans text-gray-500 font-thin">
        <li>
          <a href="">Our Company</a>
        </li>
        <li>
          <a href="">Our Coffee</a>
        </li>
        <li>
          <a href="">Stories and News</a>
        </li>
        <li>
          <a href="">Starbucks Archive</a>
        </li>
        <li>
          <a href="">Investor Relations</a>
        </li>
        <li>
          <a href="">Customer Service</a>
        </li>
        <li>
          <a href="">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="mr-8">
      <h2 class="sodan text-xl"">Careers</h2>
      <ul class="flex w-48 flex-col gap-3 my-4 manrope-sans text-gray-500 font-thin">
        <li>
          <a href="">Culture and Values</a>
        </li>
        <li>
          <a href="">Inclusion, Diversity, and Equity</a>
        </li>
        <li>
          <a href="">College Achievement Plan</a>
        </li>
        <li>
          <a href="">Alumni Community</a>
        </li>
        <li>
          <a href="">U.S. Careers</a>
        </li>
        <li>
          <a href="">International Careers</a>
        </li>
        <li>
          <a href="">Contact Us</a>
        </li>
      </ul>
    </div>

    <div class="mr-8">
      <h2 class="sodan text-xl"">Social Impact</h2>
      <ul class="flex w-48 flex-col gap-3 my-4 manrope-sans text-gray-500 font-thin">
        <li>
          <a href="">People</a>
        </li>
        <li>
          <a href="">Planet</a>
        </li>
        <li>
          <a href="">Environmental and Social Impact Reporting</a>
        </li>
        <li>
          <a href="">For Business Partners</a>
        </li>
      </ul>
    </div>
    <div class="mr-8">
      <h2 class="sodan text-xl"">For Business Partners</h2>
      <ul class="flex w-48 flex-col gap-3 my-4 manrope-sans text-gray-500 font-thin">
        <li>
          <a href="">Landlord Support Center</a>
        </li>
        <li>
          <a href="">Suppliers</a>
        </li>
        <li>
          <a href="">Corporate Gift Card Sales</a>
        </li>
        <li>
          <a href="">Office and Foodservice Coffee</a>
        </li>
      </ul>
    </div>
    <div class="mr-8">
      <h2 class="sodan text-xl"">Order and Pick Up</h2>
      <ul class="flex flex-col gap-3 my-4 manrope-sans text-gray-500 font-thin">
        <li>
          <a href="">Order on the App</a>
        </li>
        <li>
          <a href="">Order on the Web</a>
        </li>
        <li>
          <a href="">Delivery</a>
        </li>
        <li>
          <a href="">Order and Pick Up Options</a>
        </li>
        <li>
          <a href="">Explore and Find Coffee for Home</a>
        </li>
      </ul>
    </div>
  </div>
  <hr class="block my-8" />
  <ul class="flex gap-2">
    <li>
      <a class="w-8 flex" href="">
        <img src="../../images/layout/spotify.png" alt="" />
      </a>
    </li>
    <li>
      <a class="w-8 flex" href="">
        <img src="../../images/layout/facebook.png" alt="" />
      </a>
    </li>
    <li>
      <a class="w-8 flex" href="">
        <img src="../../images/layout/pinterest.png" alt="" />
      </a>
    </li>
    <li>
      <a class="w-8 flex" href="">
        <img src="../../images/layout/instagram.png" alt="" />
      </a>
    </li>
    <li>
      <a class="w-8 flex" href="">
        <img src="../../images/layout/youtube.png" alt="" />
      </a>
    </li>
    <li>
      <a class="w-8 flex" href="">
        <img src="../../images/layout/twitter.png" alt="" />
      </a>
    </li>
  </ul>

  <ul class="flex flex-col gap-4 my-4 font-semibold">
    <li>
      <a href="">Privacy Notice</a>
    </li>
    <li>
      <a href="">Consumer Health Privacy Notice</a>
    </li>
    <li>
      <a href="">Terms of Use</a>
    </li>
    <li>
      <a href="">Do Not Share My Personal Information</a>
    </li>
    <li>
      <a href="">CA Supply Chain Act</a>
    </li>
    <li>
      <a href="">Accessibility</a>
    </li>
    <li>
      <a href="">Cookie Preferences</a>
    </li>
  </ul>
  <p class="text-md text-gray-600">
    © 2024 Starbucks Coffee Company. All rights reserved.
  </p>
</div>
