    <!-- Header -->
    <div class="bg-gray-100 lg:block hidden">
        <div class="flex justify-between max-w-[1920px] mx-auto items-center px-10 py-1">
            <!-- left part-->
            <div class="flex gap-1.5 items-center">
                <a href=""><img src="../../images/layout/manshadow.png" alt="" class="w-8"></a>
                <a href=""><img src="../../images/layout/Converse_(shoe_company)-Icon-Logo.wine.svg" alt="" class="w-11"></a>
            </div>
            <!-- right part-->
            <div class="flex divide-x divide-black text-xs font-semibold">
                <a class="px-3.5" href="">Find a Store</a>
                <a class="px-3.5" href="">Help</a>
                <a class="px-3.5" href="">Join Us</a>
                <a class="px-3.5" href="">Sign In</a>
            </div>
        </div>
    </div>

    <!-- NavBar -->
    <div class="lg:block hidden">
        <div class=" flex justify-between items-center max-w-[1920px] mx-auto  px-5 mb-3">
            <!-- nike logo -->
            <a class="px-5"><img src="../../images/layout/nikelogo.png" class="w-[70px]" alt=""></a>
            <!-- list -->
            <ul class="flex text-2md font-medium gap-7 pl-28 mx-auto">
                <li>New & Featured</li>
                <li>Men</li>
                <li>Women</li>
                <li class="hidden xl:block">Kids</li>
                <li class="hidden xl:block">Accesories</li>
                <li class="hidden xl:block">Sale</li>
            </ul>

            <!-- search -->
            <div class="flex relative items-center gap-8 mx-auto px-2">
                <input class="bg-gray-100 w-44 py-2 pl-12 rounded-full" placeholder="search">
                <a href="" class="absolute left-3"><img src="../../images/layout/glass.png" alt="" class="w-6"></a>
            </div>
            <div class="flex gap-5 pr-4 mx-4">
                <a href=""><img src="../../images/layout/heart.png" class="w-6" alt=""></a>
                <a href=""><img src="../../images/layout/market.png" class="w-6" alt=""></a>
            </div>
        </div>
    </div>
    <!-- small header -->
    <div class="lg:hidden">
        <div class=" flex justify-between items-center max-w-[1920px] mx-auto h-16  px-5">
            <!-- nike logo -->
            <a class=""><img src="../../images/layout/nikelogo.png" class="w-[70px]" alt=""></a>

            <!-- search -->
            <div class="flex">
                <div class="flex gap-5 mx-4">
                    <a class="hover:bg-gray-200 size-9 rounded-full flex justify-center items-center" href="">
                        <img src="../../images/layout/glass.png" class="size-7" >
                    </a>
                    <a class="hover:bg-gray-200 size-9 rounded-full flex justify-center items-center" href="">
                        <img src="../../images/layout/market.png" class="size-6" >
                    </a>
                    <a class="hover:bg-gray-200 size-9 rounded-full flex justify-center items-center" href="">
                        <img src="../../images/layout/user.png" class="size-6" >
                    </a>
                </div>
                <a class="hover:bg-gray-200 size-9 rounded-full flex justify-center items-center" href="">
                    <img src="../../images/layout/hambuger.png" class="size-7" >
                </a>
            </div>
        </div>
    </div>