

  <!-- shop collection -->
  <div class=" mt-12">
    <div class=" mx-auto max-w-[700px] text-center">
      <h1 class="text-lg">Brooks's Looks</h1>
      <h1 class="text-7xl font-black mb-5">GEAR-UP FOR<br> THE MAJORS</h1>
      <h1>How the golf sensation is gearing up for this season's Majors and beyond.</h1>
      <button class="mt-6 bg-black text-white py-1.5 px-5 rounded-full">Shop the Collection</button>
    </div>
  </div>
  <!-- trending -->
  <div>
    <div class="max-w-[1920px] mx-auto p-4 px-12 mt-12 flex items-center justify-between ">
      <h1 class="text-2xl">Trending</h1>
      <div class="flex gap-5">
        <button class="bg-gray-50 w-12 h-12 rounded-full flex items-center justify-center">
          <img src="../../images/home/nextleft.png" class="w-3">
        </button>
        <button class="bg-gray-100 w-12 h-12 rounded-full flex items-center justify-center">
          <img src="../../images/home/nextright.png" class="w-3">
        </button>
      </div>
    </div>
  </div>
  <!-- trending's content -->
  <div>
    <div class="max-w-[1920px] mx-auto flex gap-3 mb-6 overflow-x-scroll px-12">
      <div class="w-full">
        <div class="w-[630px] ">
          <a href=""><img class="w-full" src="../../images/home/trending1.jpg" alt=""></a>
          <h1 class="text-xl my-3 mb-9"> Rep Your Team In March And Beyond</h1>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[630px] ">
          <a href=""><img class="w-full" src="../../images/home/trending2.jpg" alt=""></a>
          <h1 class="text-lg my-3 mb-9"> Air Max Dn</h1>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[630px] ">
          <a href=""><img class="w-full" src="../../images/home/trending3.jpg" alt=""></a>
          <h1 class="text-lg my-3 mb-9"> Fast Foward. Rewind.</h1>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[630px] ">
          <a href=""><img class="w-full" src="../../images/home/trending4.jpg" alt=""></a>
          <h1 class="text-lg my-3 mb-9"> Nike Motiva:For All Walks</h1>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[630px] ">
          <a href=""><img class="w-full" src="../../images/home/trending5.jpg" alt=""></a>
          <h1 class="text-lg my-3 mb-9"> Expression In Mission</h1>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Featured -->
  <div>
    <div class="mt-10">
      <!-- caption -->
      <div class="max-w-[1920px] mx-auto p-3 px-12 mb-5">
        <h1 class="text-2xl">Featured</h1>
      </div>
      <div>
        <div class="max-w-[1920px] flex gap-3 mx-auto px-12 text-white bg-slate-100 sm:row">
          <!-- picture1 -->
          <div class="relative w-full">
            <a class=""><img class="w-full h-full" src="../../images/home/feature1.jpg" alt=""></a>
            <div class="absolute left-11 bottom-11">
              <h1>Nike Alphafly 3</h1>
              <h1 class="text-2xl font-medium mt-1">Push Beyond What's Possible</h1>
              <button class="bg-white py-1.5 px-5 rounded-full mt-8 text-black font-medium">Shop</button>
            </div>
          </div>
          <!-- picture2 -->
          <div class="relative w-full">
            <a class=""><img class="w-full h-full object-cover " src="../../images/home/feature2.jpg" alt=""></a>
            <div class="absolute left-11 bottom-11">
              <h1>Jordan New Arrivals</h1>
              <h1 class="text-2xl font-medium mt-1">Air Jordan 4 <span><br></span>'Vivid Sulfur'</h1>
              <button class="bg-white py-1.5 px-5 rounded-full mt-8 text-black font-medium">Shop</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Classics Spotlight -->
  <div>
    <div class="max-w-[1920px] mx-auto ">
      <h1 class="text-2xl mb-4 px-12 p-3 mt-16">Classics Spotlight</h1>
      <div class="overflow-x-scroll">
        <div class="flex gap-4 w-full h-full ">
          <img src="../../images/home/classic1.jpg" class="h-96">
          <img src="../../images/home/classic2.jpg" class="h-96">
          <img src="../../images/home/classic3.jpg" class="h-96">
          <img src="../../images/home/classic4.jpg" class="h-96">
          <img src="../../images/home/classic5.png" class="h-96">
        </div>
      </div>
    </div>
  </div>
<!-- <div class="w-full flex flex-col gap-8 my-5">
  <div class="flex flex-col md:flex-row bg-[#d3e8e1]">
    <div class="flex-1 flex items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (1).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex flex-1  justify-center items-center "
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
        <h3 class="font-semibold text-3xl lg:text-5xl  ">Hope into half off</h3>
        <p class="text-2xl  leading-10 font-medium">
          This week, play the Spring It On Scavenger Hunt game to earn 50% off a
          spring treat—like a refreshing Lavender Lemonade.
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1">Joing the fun</button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row-reverse bg-[#fdd8f7]">
    <div class="w-full flex items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (3).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex  justify-center items-center "
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
        <h3 class="font-semibold text-3xl lg:text-5xl ">Ooh la lavender</h3>
        <p class="text-2xl  leading-10 font-medium">
            Vibe into spring with the new caffeine-free Lavender Oatmilk Chill, featuring subtle floral notes and real dragonfruit pieces. Here for a limited time.
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1">Order now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row bg-[#97d8b1]">
    <div class="w-full flex items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (4).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex  justify-center items-center "
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
        <h3 class="font-semibold text-2xl  ">Personal cups for good</h3>
        <p class="text-xl  leading-10 font-medium">
            Your choice is a positive and responsible one—because bringing your clean reusable cup helps our planet.
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1">Joing the fun</button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row-reverse bg-[#cee8c9]">
    <div class="w-full flex items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (2).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex  justify-center items-center "
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
        <h3 class="font-semibold text-3xl lg:text-5xl  ">Positively delicious</h3>
        <p class="text-2xl  leading-10 font-medium">
            Go for a nondairy pick-me-up with 150 calories or less in a grande. Choose the new Hazelnut Oatmilk Shaken Espresso or classic Brown Sugar Oatmilk Shaken Espresso.
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1">Order now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row bg-[#006241] ">
    <div class="w-full flex items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (6).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex  justify-center items-center outline-0"
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#ffffff] py-8 px-12">
        <h3 class="font-semibold text-3xl lg:text-5xl  ">Satisfying favorite</h3>
        <p class="text-2xl  leading-10 font-medium">
            The protein-packed Turkey Bacon, Cheddar & Egg White Sandwich is such a tasty way to power your day.
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1">Joing the fun</button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row-reverse bg-[#d4e9e2] ">
    <div class="w-full flex  items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (5).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex  justify-center items-center outline-0"
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
        <h3 class="font-semibold text-2xl  ">Relax with a refreshing delivery deal</h3>
        <p class="text-xl  leading-10 font-medium">
            Get up? Please! Stay right where you are and enjoy 25% off Starbucks orders of $20+ on Uber Eats, 4/8-4/14. Enjoy unlimited redemptions, up to $7 off per order.*
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1">Order now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center">
    <p class="max-w-[90%] text-sm md:max-w-[60%] md:text-md text-center">*25% off your Starbucks order on Uber Eats from 4/8-4/14. Max discount of $7. Fees and taxes still apply. Menu limited. See the Uber Eats app for availability & restrictions.</p>
  </div>


</div> -->
