
    <div>
        <div class="px-[5%] mx-auto text-center text-emerald-950 my-7 bg-white flex flex-col">
            <h1 class="text-3xl lg:text-5xl leading-tight font-extrabold tracking-[0.20em]">PUTTING PEOPLE FIRST</h1>
            <h1 class="lg:text-xl tracking-[0.05em] my-5 font-normal leading-loose text-lg">We're investing in the well-being of those we connect with, working hard toward a better future.</h1>
        </div>
    </div>
    <!-- content1 -->
    <div>
        <div class="text-[#1f3932] my-9">
            <div class="flex flex-col md:flex-row mx-auto items-center h-90 bg-[#d4e9e2] md:h-auto">
                <div class="w-[100%] md:w-[50%]">
                    <a class="w-full"><img class="w-full" src="../../images/social-impact/people-1.png" alt=""></a>
                </div>
                <div class="w-[100%] md:w-[50%] flex flex-col justify-center items-start gap-6 pl-8 py-8">
                    <h1 class="font-semibold text-2xl tracking-[0.05em]">Inclusion & Diversity</h1>
                    <h1 class="text-lg leading-normal max-w-[80%] tracking-[0.05em]">Our commitment to equal opportunity means cultivating an environment where differences are embraced and building a culture that fosters a sense of belonging.</h1>
                    <button class="bg-[#d4e9e2] hover:bg-[#c1d8d1] transition delay-20 border-2 border-[#1f3932] py-1 px-4 rounded-full text-base font-semibold">Find examples</button>
                </div>
            </div>
        </div>
    </div>
    <!-- content2 -->
    <div>
        <div class="text-[#1f3932] my-9">
            <div class="flex flex-col-reverse md:flex-row mx-auto items-center h-90 bg-[#d4e9e2] md:h-auto">
                <div class="md:w-[50%] flex flex-col justify-center items-start gap-6 py-8 pl-12">
                    <h1 class="font-semibold text-2xl tracking-[0.05em]">Opportunity</h1>
                    <h1 class="text-lg leading-normal max-w-[80%] tracking-[0.05em]">We put our partners (employees) first, empowering them by providing meaningful opportunities to pursue their aspirations.</h1>
                    <button class="bg-[#d4e9e2] hover:bg-[#c1d8d1] transition delay-20 border-2 border-[#1f3932] py-1 px-4 rounded-full text-base font-semibold">Read Stories</button>
                </div>
                <div class="md:w-[50%]">
                    <a class="w-full"><img class="w-full" src="../../images/social-impact//people-2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- content3 -->
    <div>
        <div class="text-emerald-950 my-9">
            <div class="flex flex-col md:flex-row mx-auto items-center h-90 md:h-auto bg-[#d4e9e2]">
                <div class="w-[100%] md:w-[50%]">
                    <a class="w-full"><img class="w-full" src="../../images/social-impact/people-3.png" alt=""></a>
                </div>
                <div class="w-[100%] md:w-[50%] flex flex-col justify-center items-start gap-6 py-8 pl-12">
                    <h1 class="font-semibold text-2xl tracking-[0.05em]">Community</h1>
                    <h1 class="text-lg leading-normal max-w-[80%] tracking-[0.05em]">Across the globe, we serve to strengthen each community we are part of by being the neighbor every neighborhood wants.</h1>
                    <button class="bg-[#d4e9e2] hover:bg-[#c1d8d1] transition delay-20 border-2 border-[#1f3932] py-1 px-4 rounded-full text-base font-semibold">See how</button>
                </div>
            </div>
        </div>
    </div>
    <!-- see what's next -->
    <div class="mt-10">
        <div class="text-center text-emerald-950 my-5 bg-white">
            <h1 class="text-3xl lg:text-5xl font-extrabold tracking-[0.15em] pt-7">SEE WHAT'S NEXT</h1>
            <h1 class="tracking-[0.06em] mb-8 pt-4 sm:text-base text-sm sm:px-[5%] px-2">Follow the latest ways we're supporting and strengthening the people around us.</h1>
            <button class="border-emerald-950 hover:bg-gray-200 transition delay-20 border-2 mx-1 px-5 py-1 rounded-full">Learn more</button>
        </div>
        <hr class="mt-8">
    </div>
    <!-- <div class="flex items-center justify-center">
        <div class="relative">
          <input
            id="username"
            name="username"
            type="text"
            class="border rounded-xl border-gray-300 py-1 focus:border-b-2 focus:border-red-600 transition-colors focus:outline-none peer bg-inherit"
          />
          <label
            for="username"
            class="absolute left-3 top-1 cursor-text peer-focus:text-xs peer-focus:-top-4 transition-all peer-focus:text-red-600"
            >Name</label
          >
        </div>
      </div>
       -->